/*Бургер-меню*/

.burger {
    width: 40px;
    height: 30px;
    cursor: pointer;
    position: relative;

    display: none;
}

.burger_line {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 0;
}

.burger_line_first {
    top: 0;
}

.burger_line_second, .burger_line_third {
    top: 50%;
    transform: translateY(-50%);
}

.burger_line_fourth {
    bottom: 0;
}

.burger_active .burger_line_first, .burger_active .burger_line_fourth {
    opacity: 0;
}

.burger_active .burger_line_second {
    transform: translateY(-50%) rotate(45deg);
    width: 90%;
}

.burger_active .burger_line_third {
    transform: translateY(-50%) rotate(-45deg);
    width: 90%;
}

.burger_menu {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.burger_link_item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.burger_link_item:hover {
  background-color: #CFD8DC;
}

/*Начало самого адаптива*/

@media (max-width: 1200px) {
    /*Первая секция*/
    .burger {
        display: block;
    }
    .full_screen__header_second_item {
        display: none;
    }

    .full_screen__header {
        margin-bottom: 100px;
    }

    .full_screen__images_block {
        opacity: 0.8;
    }

    .full_screen__images_pasta {
        right: 15%;
        top: 6%;
    }
    .full_screen__images_leaves_image_block {
        left: 36%;
        bottom: -16%;
        width: 52%;
        height: 64%;
    }

    .full_screen__images_souce {
        right: 0;
        bottom: -5%;
    }

    .full_screen_read_more {
        margin-bottom: 100px;
    }

    /*Третья секция*/

    .pasta_blocks {
        flex-wrap: wrap;
        margin: 0px;
    }

    .pasta_lorem_text {
        margin-bottom: 60px;
    }

    .pasta_blocks_content {
        margin-bottom: 50px;
    }

    .pasta_blocks_images {
        margin: 0px;
    }

    .small_section_two_blocks {
        padding: 0px;
    }

    /*Четвёртая секция*/

    .two_blocks_images {
        opacity: 0.4;
    }
}

@media (min-width: 1200px) {
    .burger {
        display: none;
    }
    .full_screen__header_second_item {
        display: flex;
    }
}
